/* common css */
*{
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* nav related css */

nav{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    background-color: #ffd0da;;
}
nav > ul{
    display: flex;
    margin-right: 230px;
}

nav li{
    list-style: none;
    margin-right: 50px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: #474747;
    

}
.nav-title{
    color: #272727;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 800;
    margin-left: 240px;
    padding: 10px 0px;
}
.nav-title-decoration{
    color: #f32955;
    font-size: 35px;
}
/* Banner related css */

.banner{
    background-color: rgba(229, 84, 115, 0.10);
    height: 850px;
    display: flex;
}
.banner-content{
    margin-left: 240px;
    margin-top: 197px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 634px;
    margin: 32px 0px;
}
.btn-primery{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.banner-photo{
    width: 635px;
    height: 800px;
    margin-left: 150px;
    margin-top: 50px;
    
}